body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(0.2);
  z-index: -1;
}

.book-tab {
    color: #F8EEDF;
    background-color: #222831;
    border: none;
}

.book-tab.active {
    color: #222831;
    font-weight: bold;
}

.book-tab:hover {
    color: #F8EEDF;
    background-color: #393E46;
}

.my-background {
    /*background-color: #e8e6dc;*/
    background-color: rgba(255, 255, 255, 0.4);
}

.pagination .page-link {
    color: #222831; /* text color */
  }

  .pagination .page-link:hover {
    color: #000;
    background-color: #e9ecef; /* optional hover background */
  }

  .pagination .page-item.active .page-link {
    background-color: #222831; /* active background */
    border-color: #222831;
    color: white; /* active text color */
  }

  .pagination .page-link:focus {
    box-shadow: none; /* remove blue outline */
  }
