<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Librarian</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div style="background-color: white; border-bottom: 2px solid black; width: 100%; display: flex; justify-content: space-between; align-items: center" class="container-fluid d-flex justify-content-between align-items-center fixed-top" >

    <div class="d-flex justify-content-between align-items-center mb-0 py-1" style="margin-left: 20px">
        <h5 class="text-center mb-0 py-1">Welcome, admin</h5>
    </div>

    <ul class="nav nav-tabs mb-0 py-1" style="margin-right: 20px">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activePage == 'home'} ? ' active'"
               th:href="@{/adminHome}"><i class="bi bi-house-fill" style="margin-right:8px"></i>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activePage == 'allLibrarians'} ? ' active'"
               th:href="@{/adminHome/librarians}"><i class="bi bi-person-fill" style="margin-right:8px"></i>Librarians</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/logout}"
               onclick="return confirm('Are you sure you want to leave?');">
                <i class="bi bi-box-arrow-left" style="margin-right:8px; margin-left: 15px"></i>
                Logout
            </a>
        </li>
    </ul>

</div>

<div class="container-fluid d-flex flex-column align-items-center pt-5 background-image">

    <div class="container table.responsive w-75 d-flex flex-column align-items-center">
        <h2 class="text-center m-5">Librarians</h2>
        <table border="1" class="table table-hover table-light shadow p-3 mb-5 rounded" style="text-align:center">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>UserId</th>
<!--                <th>Update</th>-->
                <th>Action</th>
            </tr>

            <tbody>
            <tr th:each="librarian : ${librarianList}">
                <td th:text="${librarian.id}"></td>
                <td th:text="${librarian.firstName}"></td>
                <td th:text="${librarian.lastName}"></td>
                <td th:text="${librarian.userId}"></td>
<!--                <td>-->
<!--                    <form th:action="@{/adminHome/members/updateForm}" class="d-inline">-->
<!--                        <input type="hidden" name="id" th:value="${librarian.id}">-->
<!--                        <button type="submit" class="btn btn-danger btn-sm">Update</button>-->
<!--                    </form>-->
<!--                </td>-->
                <td>
                    <form th:action="@{/adminHome/librarians/delete}" method="post" class="d-inline">
                        <input type="hidden" name="id" th:value="${librarian.id}">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this librarian?');">Delete</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminHome'"><i
                class="bi bi-arrow-left" style="margin-right:5px"></i>Home
        </button>

    </div>

</div>

</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Users</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->

<!--<div class="container table.responsive w-50 d-flex flex-column align-items-center">-->
<!--    <h2 class="text-center mb-4">Users</h2>-->
<!--    <table border="1" class="table table-hover table-light shadow p-3 mb-5 rounded" style="text-align:center">-->
<!--&lt;!&ndash;        <thead class="table-dark">&ndash;&gt;-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Email</th>-->
<!--            <th>Role</th>-->
<!--            <th>Update </th>-->
<!--            <th>Delete </th>-->
<!--        </tr>-->
<!--&lt;!&ndash;        </thead>&ndash;&gt;-->
<!--        <tbody>-->
<!--        <tr th:each="user : ${userList}">-->
<!--            <td th:text="${user.id}"></td>-->
<!--            <td th:text="${user.email}"></td>-->
<!--            <td th:text="${user.role}"></td>-->
<!--            <td>-->
<!--                <form th:action="@{/users/updateForm}" class="d-inline">-->
<!--                    <input type="hidden" name="id" th:value="${user.id}">-->
<!--                    <button type="submit" class="btn btn-danger btn-sm">Update</button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form th:action="@{/users/delete}" method="post" class="d-inline">-->
<!--                    <input type="hidden" name="id" th:value="${user.id}">-->
<!--                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>-->
<!--                </form>-->
<!--            </td>-->

<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    <br/>-->

<!--    <form action="/users/register">-->
<!--        <button type="submit" class="btn btn-dark shadow p-3 mb-3 rounded"><i class="bi bi-person-plus-fill" style="margin-right:8px"></i>Create a user</button>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->